@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<GigabyteGang.Dnn.Dnn.GigabyteGang.HelloWorld.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

<h2>Hello World</h2>
<h3>Ez itt a modul</h3>