* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sajatmodule {
    width: 100%;
    margin: 40px;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    color: rgb(208,89,65); 
}

#canvas {
    display: block;
    padding: 0;
    margin: auto;
    width: 100%;
    height: auto;
}

.modulimagecontainer {
    border-radius: 20px;
}

#image {
    display: none;
}

.modulbtns-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em 0 1.5em 0;
}

input,
label {
    border: none;
    outline: none;
}

#modulimageInput {
    display: none;
}

label {
    display: block;
    font-size: 1.1em;
    background-color: #FF9F24;
    color: white;
    text-align: center;
    padding: 0.8em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

#Szín {
    display: none;
    vertical-align: middle;
}

#moduloutput {
    display: none;
    margin: auto;
    text-align: center;
}
